[user]
  name  = Kazuya Takeshima
  email = mail@mitukiii.jp
[core]
  excludesfile = ~/.gitignore
  pager        = delta
  autocrlf     = input
  quotepath    = false
[interactive]
  diffFilter = delta --color-only
[init]
  defaultBranch = master
[advice]
  skippedCherryPicks = false
[merge]
  ff = false
[fetch]
  prune = true
[pull]
  rebase = true
[push]
  default = simple
[log]
  date = iso
[diff]
  colorMoved = default
[pretty]
  colorful = %C(yellow)%h%C(reset) %C(blue)%ad%C(reset) %C(cyan)%an%C(reset) %s %C(auto)%d%C(reset)
[color]
  ui = auto
[color "diff"]
  plain      = normal
  meta       = bold green
  frag       = bold blue
  func       = bold magenta
  old        = bold red
  new        = bold cyan
  commit     = bold yellow
  whitespace = normal magenta
[delta]
  features = kabukicho
[delta "kabukicho"]
  commit-decoration-style = "yellow" box ul
  dark = true
  file-style = "#e0b401" ul
  file-decoration-style = none
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]
  hunk-header-style = file line-number syntax
  hunk-header-decoration-style = none
  hunk-header-file-style = "#44475a"
  hunk-header-line-number-style = bold "#b141f1"
  line-numbers = true
  line-numbers-left-style = black
  line-numbers-right-style = black
  line-numbers-minus-style = "#f92aad"
  line-numbers-plus-style = "#61e2ff"
  line-numbers-zero-style = "#44475a"
  minus-emph-style = syntax bold "#b11aa6"
  minus-style = syntax "#580c53"
  plus-emph-style = syntax bold "#1AA6B1"
  plus-style = syntax "#0C5358"
  zero-style = syntax
  whitespace-error-style = "#280050" reverse
  syntax-theme = Kabukicho
[alias]
  # status
  s  = status --short
  sn = ! git status -s | awk '{ print $2 }'
  st = status
  # show
  sh  = show --ignore-all-space
  sh1 = show --ignore-all-space HEAD~1
  sh2 = show --ignore-all-space HEAD~2
  sh3 = show --ignore-all-space HEAD~3
  sh4 = show --ignore-all-space HEAD~4
  sh5 = show --ignore-all-space HEAD~5
  shw = show --word-diff
  shs = show --stat
  shn = ! git show --oneline --name-only | tail -n+2
  sha = show --diff-filter=A
  shm = show --diff-filter=M
  # add
  a  = add
  aa = add --all
  ap = add --patch
  au = add --update
  # commit
  c    = commit
  ca   = commit --all
  cam  = commit --amend
  caam = commit --all --amend
  # cherry-pick
  cp  = cherry-pick
  cpn = cherry-pick --no-commit
  # checkout
  co  = checkout
  cop = checkout --patch
  cob = checkout -b
  cod = checkout develop
  com = checkout master
  cor = checkout release
  # rebase
  rb  = rebase
  rbd = rebase develop
  rbm = rebase master
  rbr = rebase release
  rbi = rebase --interactive
  rbo = rebase --onto
  rbc = rebase --continue
  rbs = rebase --skip
  rba = rebase --abort
  # reset
  rs   = reset
  rss  = reset --soft
  rssh = reset --soft HEAD^
  rsh  = reset --hard
  rshh = reset --hard HEAD^
  # merge
  m  = merge
  mf = merge --ff
  mn = merge --no-ff
  # branch
  b   = branch
  bm  = branch --move
  bd  = branch --delete
  br  = branch --no-merged
  brv = branch -vv --no-merged
  # fetch
  f   = fetch
  fa  = fetch --all
  # pull
  pl  = pull
  plf = pull --ff
  pln = pull --no-ff
  plr = pull --rebase
  # push
  ps  = push
  psf = push --force
  psu = push --set-upstream
  pst = push --tags
  psm = push --mirror
  # log
  l   = log --stat
  la  = log --stat --patch
  lg  = log --stat --graph
  ll  = log --graph --pretty=colorful
  lla = log --graph --pretty=colorful --all
  # diff
  d    = diff --ignore-all-space
  dw   = diff --word-diff
  dc   = diff --cached --ignore-all-space
  dcw  = diff --cached --word-diff
  dd   = diff develop --ignore-all-space
  ddw  = diff develop --word-diff
  dod  = diff origin/develop --ignore-all-space
  dodw = diff origin/develop --word-diff
  dm   = diff master --ignore-all-space
  dmw  = diff master --word-diff
  dom  = diff origin/master --ignore-all-space
  domw = diff origin/master --word-diff
  dr   = diff release --ignore-all-space
  drw  = diff release --word-diff
  dor  = diff origin/release --ignore-all-space
  dorw = diff origin/release --word-diff
  ds   = diff --stat
  dn   = diff --name-only
  dna  = diff --name-only --diff-filter=A
  dnm  = diff --name-only --diff-filter=M
  dnu  = diff --name-only --diff-filter=U
  # ls-files
  ls  = ls-files
  lso = ls-files -o
  # submodule
  sm = submodule
  # grep
  gr   = grep --line-number
  gri  = grep --line-number --ignore-case
  grl  = grep --files-with-matches
  gril = grep --ignore-case --files-with-matches
  grli = grep --ignore-case --files-with-matches
  # update-index
  skip       = update-index --skip-worktree
  noskip     = update-index --no-skip-worktree
  skip-files = ! git ls-files -v | grep '^S' | awk '{ print $2 }'
  # fzf
  fshow   = ! git log --all --pretty=colorful --color | fzf --ansi | awk '{ print $1 }' | xargs git show
  freflog = ! git reflog --color | fzf --ansi | awk '{ print $1 }' | xargs git show
[secrets]
  providers = git secrets --aws-provider
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
