[user]
  name  = Kazuya Takeshima
  email = mail@mitukiii.jp
[core]
  excludesfile = ~/.gitignore
  pager        = less --raw-control-chars
  autocrlf     = input
  quotepath    = false
[color]
  ui = auto
[color "diff"]
  plain      = normal
  meta       = bold green
  frag       = bold cyan
  func       = bold magenta
  old        = bold red
  new        = bold blue
  commit     = bold yellow
  whitespace = normal magenta
[help]
  autocorrect = 1
[log]
  date = iso
[pretty]
  colorful = %h %Cgreen%ad %Cblue%an %Creset%s %C(auto)%d%Creset
[merge]
  ff = false
[pull]
  rebase = true
[push]
  default = simple
[alias]
  # status
  s  = status --short
  st = status
  # show
  sh  = show --ignore-all-space
  shw = show --word-diff
  shs = show --stat
  shn = show --name-only
  # add
  a  = add
  aa = add --all
  ap = add --patch
  au = add --update
  # commit
  c    = commit
  ca   = commit --all
  cam  = commit --amend
  caam = commit --all --amend
  # cherry-pick
  cp  = cherry-pick
  cpn = cherry-pick --no-commit
  # checkout
  co  = checkout
  cob = checkout -b
  cod = checkout develop
  com = checkout master
  # rebase
  rb  = rebase
  rbm = rebase master
  rbi = rebase --interactive
  rbo = rebase --onto
  rbc = rebase --continue
  rbs = rebase --skip
  rba = rebase --abort
  # reset
  rs   = reset
  rss  = reset --soft
  rssh = reset --soft HEAD^
  rsh  = reset --hard
  rshh = reset --hard HEAD^
  # merge
  m  = merge
  mf = merge --ff
  mn = merge --no-ff
  ms = merge --squash
  # branch
  b   = branch
  bm  = branch --move
  bd  = branch --delete
  br  = branch --no-merged
  brv = branch -vv --no-merged
  # fetch
  f   = fetch
  fa  = fetch --all
  fp  = fetch --prune
  fap = fetch --all --prune
  # pull
  pl  = pull
  plf = pull --ff
  pln = pull --no-ff
  plr = pull --rebase
  # push
  ps  = push
  psf = push --force
  psu = push --set-upstream
  pst = push --tags
  psm = push --mirror
  # log
  l   = log --graph --stat --name-status
  la  = log --graph --stat --patch
  law = log --graph --stat --patch --word-diff
  ll  = log --graph --pretty=colorful
  lla = log --graph --pretty=colorful --all
  # diff
  d    = diff --ignore-all-space
  dw   = diff --word-diff
  dc   = diff --ignore-all-space --cached
  dcw  = diff --cached --word-diff
  dd   = diff --ignore-all-space develop
  ddw  = diff develop --word-diff
  dod  = diff --ignore-all-space origin/develop
  dodw = diff origin/devellop --word-diff
  dm   = diff --ignore-all-space master
  dmw  = diff master --word-diff
  dom  = diff --ignore-all-space origin/master
  domw = diff origin/master --word-diff
  # submodule
  sm = submodule
  # grep
  gr   = grep --line-number
  gri  = grep --line-number --ignore-case
  grl  = grep --files-with-matches
  gril = grep --ignore-case --files-with-matches
  grli = grep --ignore-case --files-with-matches
  # sh
  log-files = "!f() { git log $1..$2 --name-only --oneline | grep --invert-match ' ' | sort --unique; }; f"
  grep-sed  = "!f() { git grep --files-with-matches \"$1\" $3 | xargs sed -i \"s/$1/$2/g\"; }; f"
  pshow     = "!f() { git log --all --pretty=colorful | percol | cut -d' ' -f1 | xargs git show; }; f;"
  preflog   = "!f() { git reflog | percol | cut -d' ' -f1 | xargs git show; }; f;"
  pls-files = "!f() { echo $(git ls-files | percol | sed 's/ /\\ /g'); }; f;"
