/.cache/

# company
/company-statistics-cache.el

# emojify
/emojis

# lsp-mode
/.lsp-session-v1

# lsp-mode -> (lsp-dart, lsp-metals) -> dap-mode
/.dap-breakpoints

# magit -> transient
/transient/

# multiple-cursors
/.mc-lists.el

# project
/projects

# recentf
/recentf

# savehist
/history

# savekill
/kill-ring-saved.el

# straight
/straight/

# undohist
/undohist/

# url
/url/
