/.cache

# straight.el
/straight/

# recentf.el
/recentf

# project.el
/projects

# savehist.el
/history

# savekill.el
/kill-ring-saved.el

# undohist.el
/undohist/

# magit.el
/transient/

# emojify.el
/emojis

# company.el
/company-statistics-cache.el

# multiple-cursors.el
/.mc-lists.el

# lsp-mode.el
/.lsp-session-v1
/.dap-breakpoints
