# custom.el
/custom.el

# straight.el
/straight/

# recentf.el
/recentf

# savekill.el
/kill-ring-saved.el

# undohist.el
/undohist/

# auto-complete.el
/ac-comphist.dat

# multiple-cursors.el
/.mc-lists.el
